
table{
  width:60%;
  min-width: 300px;
}
#border-test {
  width: 0;
  height: 0;
  border: 100px solid #fff;
  border-left-color: red;
  border-right-color: aqua;
  border-bottom-color:transparent;
  border-top-color: blueviolet;
}

.box4{
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.box3{
  width:10px;
  height: 10px;
  background-color: #0f0;
  padding: 10px;
}

.box2{
  width: 30px;
  height: 30px;
  background-color: #fff;
  padding: 10px;
}

.box1{
  width:50px;
  height: 50px;
  background-color: #0f0;
  padding: 10px;
}

.five-rings{
  position:fixed;
  top: 50%;
  left:50%;
  width: 290px;
  height: 130px;
  margin-top: -65px;
  margin-left:-145px;
  /* box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);  */
}

.ring1,
.ring2,
.ring3,
.ring4,
.ring5{
  position: absolute; 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:5px solid;
}

.ring1{
  border-color: purple;
}
.ring2{
  left: 100px;
  border-color: black;
}

.ring3{
  left: 200px;
  border-color: red;
}


.ring4{
  top: 45px;
  left: 50px;
  border-color: yellow;
}

.ring5{
  top: 45px;
  left: 150px;
  border-color: green;
}


.wrapper{
  width:200px;
  height: 200px;
  background-color: aqua; 
  
}

.content{
  width: 100px;
  height: 100px;
  background-color: #f40; 
}

.mt-50{
  margin-top: 50px;
}

.mt-100{
  margin-top:100px;
}

.m-0{
  margin-top: 0px;
}

.mb-50{
  margin-bottom:50px;
}

.mb-100{
  margin-bottom: 100px;
}

.pos-ab{
  position: absolute;
}

.disp-in-b{
  display: inline-block;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.overflow-h{
  overflow: hidden;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}


/* 淘宝导航栏 */
.nav{
  list-style: none;
}

/* 清除浮动流 */
.nav::after{
  content: "";
  clear:both;
  display: block;
}

.nav .list-item{
  float: left;
  height: 30px;
  line-height: 30px; 
}

.nav .list-item a{
  text-decoration: none;
  margin: 0 10px;
  padding: 0 10px; 
  height: 30px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #f40;
  border-radius: 15px;
}

.nav .list-item a:hover{
  background-color: #f40;
  color: #fff;
}