<div class="m-3">
  <span class="anim-fade-in"> Hello from anim-fade-in!</span>


  <div class="d-flex mb-3 m-2">
    <div class="border-left col-3">
      .border-left
    </div>
    <div class="border-top col-3">
      .border-top
    </div>
    <div class="border-bottom col-3">
      .border-bottom
    </div>
    <div class="border-right col-3">
      .border-right
    </div>
  </div>
  <div class="border-y">
    .border-y
  </div>

  <details class="details-overlay">
    <summary class="btn">More</summary>
    <div class="position-relative bg-white p-3 border" style="z-index: 100">Hidden text</div>
  </details>


  <details class="details-overlay details-overlay-dark">
    <summary class="btn">More</summary>
    <div class="position-relative bg-white p-3 border" style="z-index: 100">Hidden text</div>
  </details>

  <h4>
    layout 动态更新：伸缩屏幕检查有什么变化
  </h4>
  <div>
    <h3>Potato update</h3>
    <span class="hide-sm hide-md">Opened by <a href="#url">broccolini</a></span>
    <span class="d-md-none">Updated</span> 3 hours ago
  </div>


  <mat-card class="list-item">
    <mat-card-header>
      <mat-card-title class='panel-item-header f4'>
        <a>Simulation of carbon balance in forest ecosystems in the Xing'an Mountains.</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class='panel-item-body'>With the deepening of research on the relationship between global change and
        terrestrial ecosystems and the implementation of the UN Framework Convention on Climate Change, assessing
        carbon stocks and carbon balance in terrestrial ecosystems on a regional scale has become a hot spot in
        international ecological research. Forests are the mainstay of terrestrial ecosystems and an important part of
        the Earth's biosphere.Forests play a pivotal role in the global terrestrial ecosystem carbon cycle, both in
        terms of area and carbon accumulation, and have a huge impact on changes in Earth's atmospheric concentrations.
        Research on the carbon cycle of forest ecosystems has important practical significance in the study of global
        change.</p>
    </mat-card-content>
    <mat-card-actions>
      <div class='panel-item-footer'>
        <span>
          <a class="lh-2">sadfasdf</a>
        </span>
        <span>
          <span class="lh-2">654</span>
        </span>
      </div>
    </mat-card-actions>
  </mat-card>
 <h3>超过两行结尾省略！！！！！！！</h3> 
    <div class="wrapper">
      <span>Simulation of carbon With the deepening of research on the relationship between global change and
        terrestrial ecosystems and the imp  </span>
    </div> 
  
</div>
